<div class="sidenav">
  <a href="/statistique/tout">Tout</a>
  <a href="/statistique/aujourdhui">Aujourdhui</a>
  <a href="/statistique/hier">Hier</a>
  <a href="/statistique/avanthier">Avant Hier</a>
</div>