<div class="container">
    <div class="row">
    	<div class="col">		
    	</div>
    	<div class="col">
    		<div><h1>User Mail: <%=current_user.email%></h1></div>
    		<%= link_to "edit", "/users/edit", :class => 'btn btn-primary'%>
    	</div>
    	<div class="col">
    	</div>
    </div>
</div>