<div class="container">
<div class="row">
	<div class="col"></div>
	<div class="col">
<h1>New Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path, :style => "text-decoration: none;"%>
</div>
<div class="col"></div>
</div>
</div>