<footer style="margin-top: 100px;">
<div>
	<div class="bg-secondary">
		<div class="row">
			<div class="col-6">
				<h1>Footer of our apps</h1>
			</div>
		
			<div class="col-6">
				<h2>&copy; 2019 mbankingdashboard</h2>
			</div>
		</div>
	</div>
</div>
</footer>