<div class="container bg-primary">
	<div class="row">
		<div class="col-6">
			<a href="/" class="bg-secondary">The header</a>
		</div>
		<div class="col-6">
			<h2>The title of the header</h2>
		</div>
	</div>
</div>